<div class="container-fluid">
    <div class="row justify-content-center">
        <ul class="list-group col-10 my-3 mb-3">
            {{#each posts as |post|}}
            <li class="list-group-item card anton bright-border verylight-background my-2" style="padding: 0;">
                <div class=" card-header d-flex justify-content-between align-items-start rounded-0
                light-words verydark-background">
                <a class="light-words" style= "text-decoration: none;" href="/post/{{id}}">{{post.post_title}}</a>
                    <span class="dark-words align-text-bottom">Posted by {{post.user.username}} on {{post.post_date}}</span>
                </div>
                <div class="card-body">{{post.post_content}}</div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>